<!--301296766- Manmeet Brar Web Application Development -->


<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container" style="background-color: darkgoldenrod;">
  <div class="jumbotron" >
    <h1 class="display-4" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Welcome to Our  <%= title %> Page</h1>
    
    <blockquote style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: xx-large; text-align: center;">
     

      <img src="/img/PortImage.png" style: width="1300px"; height="1000px";>
   
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   