<!--301296766- Manmeet Brar Web Application Development -->


<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container" style="background-color: darkgoldenrod;">
  <div class="jumbotron">
    <h1 class="display-4" style="font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Welcome to <%= title %> page</h1>
    </div>
      <p style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
        The Queen of the Father's Heart

        Manmeet Kaur is a name that evokes grace, strength, and unshakable duty. Manmeet, dubbed the "Father's Queen," exhibits the principles of love, compassion, and kindness in all she does.
        
        </b></p>

            
        <div class="jumbotron">
          <img src="/Assets/1.png"style: width="400px"; height="400px" style="float: right"> 
          <p style="font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" >
            Are you ready to incorporate happiness, warmth, and regal appeal into your life? Look no farther than the "Manmeet Kaur Joyful Heart" Collection,
             a one-of-a-kind representation of Manmeet Kaur's dazzling personality and the joy she exudes wherever she goes.

          </p>
         
        
         
        </div>

        <div class="jumbotron">
          <img src="/Assets/2.png"style: width="500px"; height="300px" style="float: left;"> 
          <ul style="font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large; text-align: left;">
            
            <li> Radiant Joy: Our items, like Manmeet herself, are made to make you grin. Each piece has been carefully selected to convey happiness and love.</li>
            <li> Unrivalled Grace: Take in the beauty in every aspect. Our collection is inspired by Manmeet Kaur's elegance, guaranteeing that you stand out in style. </li>
            <li> Connect and Treasure: Our items are more than simply accessories; they are representations of the relationships we cherish. Manmeet's kind demeanour teaches us to treasure the bonds we create with people around us </li>
           
          </ul>
         
        </div>


 </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   