<!--301296766- Manmeet Brar Web Application Development -->



<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container" style="background-color: darkgoldenrod">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>

    <img src="/Assets/services.png" style: width="1300px"; height="400px">
    <blockquote><b> The services we offer are listed below
    </b></blockquote>
    

    <ol>
      <li> <p style="font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
        
        Sessions for "Joyful Heart Connection"
        Through our "Joyful Heart Connection" workshops, you may connect with Manmeet Kaur's warmth and generosity. Experience Manmeet's elegance and positivism as we lead you on a journey of self-discovery and true interactions with others. Allow her happy attitude to light your way to happiness.
 </b></p>
      </li>
        
      <li> 
        <p style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
          Workshops on "Father's Queen" Empowerment
          Join us for inspiring workshops inspired by Manmeet Kaur, the "Father's Queen." As you discover your inner potential, immerse yourself in a world of elegance, power, and responsibility. Manmeet's brilliant charisma will be your guiding light as you govern with confidence and kindness.
           </b></p>
        </li>

        <li> 
          <p style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
            Self-Care Retreats with a "Radiant Smile"
            Discover the secret to true pleasure by attending one of our "Radiant Smile" self-care retreats. Manmeet's contagious happiness serves as the cornerstone for these retreats, where you'll learn to nourish your well-being, embrace optimism, and promote compassion to others around you.
            
             </b></p>
          </li>



          <li> 
            <p style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
              Home Styling Services by "Graceful Living"
              Our "Graceful Living" home styling services, inspired by Manmeet Kaur's unrivalled grace, will elevate your living spaces. Our team of specialists will convert your house into a warm and elegant retreat, reflecting the same regal charm that characterizes Manmeet's life.
              
               </b></p>
            </li>

            
            <li> 
              <p style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
                Home Styling Services by "Graceful Living"
                Our "Graceful Living" home styling services, inspired by Manmeet Kaur's unrivalled grace, will elevate your living spaces. Our team of specialists will convert your house into a warm and elegant retreat, reflecting the same regal charm that characterizes Manmeet's life.
                
                 </b></p>
              </li>

    </ol>
    </div>

        


    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   